:root {
  --display-flex: flex;
  --justify-content-space-between: space-between;
  --align-items-center: center;
  --text-decoration-none: none;
  --height-full-function: calc(100vh - 20vw);
  --height-full: 100%;
  --width-full: 100%;
  --background-size-cover: cover;
  --background-position-center: center;
  --margin-main: 2%;
  --height-image: 20em;
  --border-image: 10px solid rgb(2, 50, 50);
  --margin-image: 1%;
  --width-image: 40%;
  --opacity-image: 0.5;
  --color-image-text: rgb(244, 124, 244);
  --padding-image-container: 10rem 0;
  --display-block: block;
  --opacity-image-hover: 1;
  --transition-image-and-hover: 1s ease;
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial;
  }

  body {
    display: var(--display-flex);
    flex-direction: column;
    background-color: #555654;
  }

  header {
    display: var(--display-flex);
    justify-content: var(--justify-content-space-between);
    align-items: var(--align-items-center);
    padding: 2%;
    background-color: #36434a;
    color: #ffffff;
  }

  h1 {
    font-size: 2rem;
  }
  
  h1 .portfolio {
    color: #c8321b;
  }

  nav, .nav-bottom {
    display: var(--display-flex);
  
  }

  nav ul {
    display: var(--display-flex);
    justify-content: var(--justify-content-space-between);
    list-style-type: none;
    flex-wrap: wrap;
  }
  
  nav ul li {
    padding: 1em 7em 0 7em;
  }
  
  nav a {
    color: #87948c;
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.2rem;
    text-shadow: none;
  }
  
  nav a:hover {
    color: #fff;
  }

  nav a:hover::after {
    top: 0px;
    bottom: 0px;
  }

  h2 {
    height: var(--height-full-function);
    width: var(--width-full);
    background-image: url("../images/4419637.jpg");
    background-size: var(--background-size-cover);
    background-position: var(--background-position-center);
    text-align: right;
    color: aqua;
    font-size: 1.4rem;
  }

  h3 {
    max-width: 20%;
    min-width: 20%;
    color: #5dc81b;
    border-right: 5px solid lightgreen;
    font-size: 1.6rem;
    margin: 0.5em 0;
    text-align: center;
  }

  p {
    color: aquamarine;
    font-size: 1.3rem;
    margin: var(--margin-main);
  }

  a {
    text-shadow: 0 0 3px #ff0000, 0 0 5px #0044ff;
    font-size: 2em;
  }

  main {
    max-width: var(--width-full);
    margin: var(--margin-main);
    padding: 0 1%;
  }

  section {
    display: var(--display-flex);
    justify-content: var(--justify-content-space-between);
  }

  #marketing-agency-app, #led-grid-app, #calculator {
    background-size: var(--background-size-cover);
    border: var(--border-image);
    margin: var(--margin-image);
    opacity: var(--opacity-image);
    transition: var(--transition-image-and-hover);
  }

  #marketing-agency-app {
    background-image: url(../images/127.0.0.1_5500_index.html\ \(1\).png);
    /*supposed to show the full img with this funciton*/
    height: var(--height-full-function);
    width: 80%;
  }

  #led-grid-app {
    background-image: url(../images/PXL_20231129_200841880.jpg);
    height: var(--height-image);
    width: var(--width-image);
  }

  #calculator {
    background-image: url(../images/download.png);
    height: var(--height-image);
    width: var(--width-image);
  }

  #marketing-agency-app span.flexbox-container a, #led-grid-app span.flexbox-container a, #calculator span.flexbox-container a {
    color: var(--color-image-text);
    padding: var(--padding-image-container);
    text-decoration: var(--text-decoration-none);
    display: var(--display-block);
    width: var(--width-full);
    height: var(--height-full);
  }

  #marketing-agency-app span.flexbox-container a:hover, #led-grid-app span.flexbox-container a:hover, #calculator span.flexbox-container a:hover {
    color: rgb(11, 11, 11);
  }

  #marketing-agency-app:hover {
    background-image: url(../images/127.0.0.1_5500_index.html\ \(1\).png);
  }

  #led-grid-app:hover {
    background-image: url(../images/PXL_20231129_200841880.jpg);
  }

  #calculator:hover {
    background-image: url(../images/download.png);
  }

  #marketing-agency-app:hover, #led-grid-app:hover, #calculator:hover {
    opacity: var(--opacity-image-hover);
    transition: var(--transition-image-and-hover);
  }

  footer {
    max-width: var(--width-full);
    margin: var(--margin-main);
    padding: 0 1%;
  }

  .nav-bottom {
    width: 80%;
  }

  .nav-bottom a {
    color: aqua;
    text-shadow: none;
  }

  @media screen and (max-width: 768px) {
    main, nav, body, footer, .nav-bottom {
      flex-direction: column;
    }
  }