:root {

}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial;
  }

  body {
    display: flex;
    flex-direction: column;
    background-color: #555654;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    background-color: #2a607c;
    color: #ffffff;
  }

  h1 {
    font-size: 2rem;
  }
  
  h1 .portfolio {
    color: #c8321b;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    min-width: 300px;
  }
  
  nav ul li {
    padding: 1em 3em 0 3em;
  }
  
  nav a {
    color: #87948c;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.1rem;
  }
  
  nav a:hover {
    color: #fff;
  }

  h2 {
    height: calc(100vh - 100px);
    width: 100%;
    background-image: url("/assets/images/4419637.jpg");
    background-size: cover;
    background-position: center;
    text-align: right;
    color: aqua;
    font-size: 1.4rem;
  }

  h3 {
    max-width: 20%;
    min-width: 20%;
    color: #5dc81b;
    border-right: 5px solid lightgreen;
    font-size: 1.6rem;
    margin: 0.5em 0;
  }

  p {
    color: rgb(227, 34, 241);
    font-size: 1.3rem;
    margin: 2%;
  }

  main {
   max-width: 100%;
    margin: 2%;
    padding: 0 1%;
  }

  section {
    display: flex;
  }
/*
  main > section > h3 {
    margin: 5% 0;
  }
  */
  section > a {
    width: 80%;
    color: rgb(246, 255, 0);
    text-align: left; 
  }

  #challenge-1 {
    background-image: url(/assets/images/127.0.0.1_5500_index.html\ \(1\).png);
    background-size: cover;
    /*supposed to show the full img with this funciton*/
    height: calc(100vh - 100px);
    border: 5px solid darkblue;
    margin: 1%;
    }

  #led {
    background-image: url(/assets/images/PXL_20231129_200841880.jpg);
    background-size: cover;
    height: 20em;
    border: 5px solid darkblue;
    margin: 1%;
  }

  #calculator {
    background-image: url(/assets/images/download.png);
    background-size: cover;
    height: 20em;
    border: 5px solid darkblue;
    margin: 1%;
  }

  footer {
    max-width: 100%;
    margin: 2%;
    padding: 0 1%;
    /*display: flex;
    flex-direction: column;
    justify-content: space-between;
    */
  }

  .nav-bottom {
width: 80%;
  }

  .nav-bottom a {
    color: aqua;
  }