* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial;
  }

  body {
    display: flex;
    flex-direction: column;
    background-color: #555654;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    background-color: #2a607c;
    color: #ffffff;
  }

  h1 {
    font-size: 2em;
  }
  
  h1 .portfolio {
    color: #c8321b;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    min-width: 300px;
  }
  
  nav ul li {
    padding: 0 15px 0 15px;
  }
  
  nav a {
    color: #87948c;
    font-weight: bold;
    text-decoration: none;
  }
  
  nav a:hover {
    color: #fff;
  }

  h2 {
    height: 20em;
    width: 100%;
    background-image: url("/assets/images/4419637.jpg");
    background-size: cover;
    background-position: center;
    text-align: right;
    color: aqua;
  }

  p {
    color: rgb(227, 34, 241);
    font-size: 18px;
  }

  main {
   max-width: 100%;
    margin: 2%;
    padding: 0 1%;
  }

  section {
    display: flex;
  }
  
  h3 {
    width: 30%;
    color: #5dc81b;
  }
   
  section > a {
    width: 70%;
  }

  .work-image {
   align-items: stretch;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  .nav-bottom a {
    color: aqua;
  }

  .work > a {
    color: rgb(246, 255, 0);
    text-align: left;   
  }

  #challenge-1 {
    background-image: url(/assets/images/127.0.0.1_5500_index.html\ \(1\).png);
    background-size: cover;
    height: calc(100vh - 100px)
  }

  #led {
    background-image: url(/assets/images/PXL_20231129_200841880.jpg);
    background-size: cover;
    height: calc(100vh - 100px)
  }

  #calculator {
    background-image: url(/assets/images/download.png);
    background-size: cover;
    height: calc(100vh - 100px)
  }